{"filter":false,"title":"web.config","tooltip":"/monolist/public/web.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":295.28125,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":7,"state":"start","mode":"ace/mode/text"}},"timestamp":1529544033193,"hash":"a74db3869daa64568f2c44afe2a008631109a5c4"}